name: ginko
base: core18
version: '{{.version}}'
summary: The Ginko app
description: |
  The Ginko app
confinement: devmode
grade: devel
apps:
  ginko:
    command: ginko
    desktop: local/ginko.desktop
parts:
  desktop:
    plugin: dump
    source: snap
  assets:
    plugin: dump
    source: assets
  app:
    plugin: dump
    source: build
    stage-packages:
      - {{.snapDependencies}}
